@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /*
    html {
        -webkit-user-select: none;
        -webkit-app-region: drag;
    }
    */

    .category {
        @apply pt-4 w-60 h-36 rounded bg-tred-100 drop-shadow-md hover:scale-110 hover:z-10 transition-all;
    }

    .icon {
        @apply fixed z-50 text-2xl text-tbrown-900 cursor-pointer hover:scale-125 transition-all;
    }

    .header {
        @apply text-center text-4xl font-bold text-tred-400;
    }

    .subheader {
        @apply text-center text-sm text-tred-300;
    }

    .todo {
        @apply flex items-center w-full px-5 py-2 hover:bg-tred-75;
    }

    .todo:first-child {
        @apply pt-3;
    }

    .todo:last-child {
        @apply pb-3;
    }

    .todo .icon {
        display: none;
    }

    .todo:hover .icon {
        display: initial;
    }

    .form-checkbox {
        @apply border border-tbrown-800 cursor-pointer hover:border-tred-300 checked:bg-tred-400;
        @apply w-6 h-6;
        border-radius: 100%;
    }
}